# {{ ansible_managed }}
# Configuration template for the MooseFS metalogger
# All of the default MooseFS metalogger settings are used if not defined here, so this will be nearly empty in most cases.

MASTER_HOST = {{ moosefs_master_host }}
