# {{ ansible_managed }}
# Configuration template for the MooseFS master.
# All of the default MooseFS master settings are used if not defined here, so this will be nearly empty in most cases.

CHUNKS_WRITE_REP_LIMIT = 20,10,10,40
CHUNKS_READ_REP_LIMIT = 100,50,20,50